<%- include("partials/header.ejs") -%>

    <h1>
        <%= postTitle %>
    </h1>
    <p class="content" style="white-space: pre-wrap;"">
        <%= postContent %>
    </p>
    <form action="/deletePost" method="post">
        <input type="hidden" name="title" value="<%= id %>">
        <button type="submit">deletePost</button>
        </form>
        <%- include("partials/footer.ejs") -%>